<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid d-flex justify-content-between">
        <i class="bi bi-bar-chart-line-fill"></i>
        <span>Smart Expense Tracker</span>
    </div>
</div>

<!-- The Toggler Button for the Menu -->
<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<!-- The Collapsible Navigation -->
<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="dashboard" Match="NavLinkMatch.All">
                <i class="bi bi-house-door" aria-hidden="true"></i> Dashboard
            </NavLink>
        </div>


        <div class="nav-item px-3">
    <NavLink class="nav-link" href="mytransaction" Match="NavLinkMatch.All">
        <i class="bi bi-card-list" aria-hidden="true"></i> My Transaction
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="CashOutflow" Match="NavLinkMatch.All">
        <i class="bi bi-arrow-up-circle" aria-hidden="true"></i> Cash Outflow
    </NavLink>
</div>

<div class="nav-item px-3">
    <NavLink class="nav-link" href="CashInflow" Match="NavLinkMatch.All">
        <i class="bi bi-arrow-down-circle" aria-hidden="true"></i> Cash Inflow
    </NavLink>
</div>



        <div class="nav-item px-3">
            <NavLink class="nav-link" href="/" Match="NavLinkMatch.All">
                <i class="bi bi-box-arrow-right" aria-hidden="true"></i> Log Out
            </NavLink>
        </div>
    </nav>
</div>
